<div class = "container d-flex py-5 justify-content-center">
  <h1>Cadastrar figurinhas</h1>
</div>

<div class = "container d-flex py-5 justify-content-center">
  <%= simple_form_for (@offer) do |f| %>
    <%= f.input :number , collection: 1..670 %>
    <%= f.input :player_name %>
    <%= f.input :team %>
    <%= f.input :special %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Criar figurinha", class: "btn btn-primary" %>
  <% end %>
</div>
