
<div class ="container">

  <h1 class="fw-bolder text-center py-5">Offer</h1>

  <div class="row">
      <div class="col-md-auto">
          <%= cl_image_tag @offer.photo.key, height: 600, width: 400, crop: :fill %>

      </div>
      <div class="col player">
      <h2 class=" fw-bold"><%= @offer.number %> <%= @offer.player_name %></h2>

      <p class="description fw-normal"><%= @offer.description %></p>

      <%= link_to "Delete",
        offer_path(@offer),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger"%>
        
        <%= link_to "Edit Offer", edit_offer_path(@offer) %>
    </div>

      </div>

    </div>


</div>
