<h1 class="fw-bolder text-center py-5">Offer</h1>

<div class="row">
  <div class="col-md-auto">
      <%= cl_image_tag @offer.photo.key, height: 400, crop: :fill %>
  </div>
  <div class="col player">
    <h2 class="fw-bold">Nome do jogador: <%= @offer.player_name %></h2>
    <p class="description fw-normal">Número da figurinha: <%= @offer.number %></p>
    <p class="description fw-normal">Pedido de troca: <%= @offer.description %></p>

    <h3>Dados do usuário</h3>
    <p class="description fw-normal">Nome: <%= @offer.user.first_name %></p>

    <% if @offer.user == current_user %>
      <%= link_to "Delete", offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
      <%= link_to "Edit Offer", edit_offer_path(@offer), class: "btn btn-outline-secondary" %>
    <% else %>
      <%= link_to "Make transaction", new_offer_transaction_path(@offer), class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
  </div>
</div>
