<h1 class="fw-bolder text-center py-5">Figurinha</h1>

<div data-controller="transaction" class="row">
  <div class="col-md-auto">
      <%= cl_image_tag @offer.photo.key, height: 400, crop: :fill %>
  </div>
  <div class="col player" data-controller="offer" >
    <h2 class="fw-bold">Nome do jogador: <%= @offer.player_name %></h2>
    <p class="description fw-normal">Número da figurinha: <%= @offer.number %></p>
    <p class="description fw-normal">Pedido de troca: <%= @offer.description %></p>

    <h3>Dados do usuário</h3>
    <p class="description fw-normal">Nome: <%= @offer.user.first_name %></p>

    <% if @offer.user == current_user %>
      <%= link_to "Apagar", offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Deseja mesmo apagar a figurinha?"}, class: "btn btn-danger" %>
      <button class="btn btn-outline-secondary" data-action="click->offer#renderForm">Editar figurinha</button>
    <% else %>
      <button class="btn btn-outline-secondary" data-action="click->transaction#renderForm">Fazer transação</button>
    <% end %>

    <%= render "offers/transactionform", locals: { offer: @offer, transaction: @transaction, cards: @cards } %>
    <%= render "offers/editofferform" %>
    </div>
  </div>
</div>
