<div class="d-flex justify-content-center">
  <div class="card shadow-md">
    <div data-controller="transaction" class="row">
      <div class="col-md-5 img-fluid rounded-start" >
          <%= cl_image_tag @offer.photo.key, height: 400, width: 300 %>
      </div>
      <div class="col-md-7">
        <div class="card-body" data-controller="offer">
            <h4 class="card-title"><%= @offer.player_name %></h4>
            <h5 class="card-text">Número da figurinha: <%= @offer.number %></h5>
            <h5 class="card-text">Pedido de troca: <%= @offer.description %></h5>
            <h5 class="card-text">Dados do usuário: <%= @offer.user.first_name %></h5>

            <% if @offer.user == current_user %>
              <%= link_to "Apagar", offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Deseja mesmo apagar a figurinha?"}, class: "btn btn-danger m-0" %>
              <button class="btn btn-primary m-0" data-action="click->offer#renderForm">Editar figurinha</button>
            <% else %>
              <button class="btn btn-primary m-0" data-action="click->transaction#renderForm">Trocar</button>
            <% end %>

            <%= render "offers/transactionform", locals: { offer: @offer, transaction: @transaction, cards: @cards } %>
            <%= render "offers/editofferform" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
