<%# # 1. Index onde todas as transactions não foram aceitas e que o seller == current_user
# 2. Display no Index
# 3. Criar um link de aceite que vai levar pra toda de update de transactions %>

<div class = "pending-transaction">
  <h1>Transações Pendentes</h1>
</div>


<% if @transactions.empty? %>
  <div class = "pb-5"><%= "Você ainda não possui trocas" %></div>
<% else %>
  <div class = "row py-5 justify-content-center">
    <% @transactions.each do |transaction| %>
      <div class = "white-square ms-2 col-4">
        <div class = "text-center">
          <h2>Proprietário</h2>
          <%= cl_image_tag transaction.seller_card.photo.key, height: 150, crop: :fill %>
        </div>
        <i class= "fa-solid fa-right-left trade-arrow"></i>
        <div  class = "text-center-buyer">
          <h2>Interessado</h2>
          <%= cl_image_tag transaction.buyer_card.photo.key, height: 150, crop: :fill %>
        </div>
        <div></div>
        <%= link_to  transaction_path(transaction), data: {turbo_method: :delete, turbo_confirm: "Deseja mesmo rejeitar a troca?"} do %>
          <i class= "fa-solid fa-xmark no-mark"></i>
        <% end %>
        <%= link_to transaction_path(transaction), data: {turbo_method: :patch} do %>
          <i class= "fa-solid fa-check yes-mark"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>



<div class = "history-transaction">
  <h1>Histórico de trocas</h1>
</div>
<% if @history_transactions.empty? %>
  <div style="height: 45vh"><%= "Você não possui trocas" %></div>
<% else %>
  <div class = "container-transaction-index">
    <div class = "title justify-content-center d-flex">
      <h1>Interessado</h1>
      <h1>Proprietário</h1>
    </div>
    <% @history_transactions.each do |transaction| %>
      <div class = "sub-container-transaction justify-content-center">
        <div class = "card-product-transaction mb-4 col-sm-12 col-md-6 col-lg-4">
          <%= cl_image_tag transaction.seller_card.photo.key, height: 400, crop: :fill %>
          <div class = "card-product-infos-transaction">
            <h5>Nome do proprietário: <strong><%= transaction.seller.username %></strong></h5>
            <h5>Número da figurinha: <strong><%= transaction.seller_card.number %></strong></h5>
            <h5>Nome do jogador: <strong><%= transaction.seller_card.player_name %></strong></h5>
          </div>
        </div>
        <div class = "card-product-transaction mb-4 col-sm-12 col-md-6 col-lg-4">
          <%= cl_image_tag transaction.buyer_card.photo.key, height: 400, crop: :fill %>
          <div class = "card-product-infos-transaction">
            <h5>Nome do interessado: <strong><%= transaction.buyer.username %></strong></h5>
            <h5>Número da figurinha: <strong><%= transaction.buyer_card.number %></strong></h5>
            <h5>Figurinha do interessado: <strong><%= transaction.buyer_card.player_name %></strong></h5>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
